{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card-body">
        {{ form(form) }}
    </div>
{% endblock content %}