{% extends 'base.html.twig' %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <p>Created: {{ project.createdAt|date('Y-m-d') }}</p>
    <p>Documents: </p>
        {% for document in project.documents %}
            <a href="{{ path('document_process', {id: document.id}) }}">{{ document.file }}</a>
        {% endfor %}
{% endblock %}