{% extends 'base.html.twig' %}

{% block content %}
    Welcome to tsotsCAT!
    <a href="{{ path('auth_register') }}" class="nav-link" >Register</a>
    <a class="nav-link" href="#">Login</a>
{% endblock %}